build/
.gradle/
Collate-GUI.jar
.checkstyle
.settings/
.idea/
lib/*
*.iml
*.log
*.log.*
*.csv
config.json
src/test/data/sandbox/
preferences.json
.DS_Store
./screenshot*.png
classes/
/data/
/bin/
src/main/resources/docs/
out/
docs/AboutUsPrivate.adoc
docs/Charles Goh.jpg
docs/Jeffrey Goh.png
docs/Kelvin Lin.jpg
docs/Yiming Wang.jpg